.connect {
  .heading {
    max-width: 300px;
    @media (min-width: 768px) {
      max-width: 400px;
    }
  }
  .social-icon {
    width: 30px;
    height: auto;
    margin-left: 5px;
    margin-right: 5px;
  }
  a {
    color: $orange;
    text-decoration: underline;
    font-size: 0.9rem;
    &:hover {
      color: $primary;
    }
  }
  .instagram-feed {
    display: none;
  }
  .home & .instagram-feed {
    display: block;
  }
}
.top {
  font-size: 0.9rem;
  text-align: center;
  display: block;
  margin-bottom: 30px;
  img {
    width: 30px;
    height: auto;
    margin-bottom: 10px;
  }
}
footer {
  .isi {
    .small {
      font-size: .5rem;
      word-break: break-all;
      @media (min-width: 400px) { 
        word-break: normal;
      }
    }
  }
  .footerMenu {
    background: $primary;
    color: #fff; 
    font-size: .8rem;
    .nav {
      justify-content: center;
      @media (min-width: 768px) {
        justify-content: left;
      }
      .menu-item {
        a {
          color: #fff;
          text-transform: uppercase;
          display: block;
          padding: 0.5rem 1rem; 
          font-size: .8rem;
        }
      }
      .nav-link {
        color: #fff;
      }
    } 
  }
  .warranty-details & .disclaimer {
    display: none;
    visibility: hidden;
  }
}
.modal-open {
  overflow: inherit;
}
#cookie.modal {
  bottom: 0;
  top: inherit;
  height: auto;
  
  .modal-dialog {
    max-width: 100%;
    margin: 0;
    .modal-content {
      border-radius: 0;
      border: none;
      background-color: rgb(238, 238, 238);
      .modal-body {
        display: flex;
        align-items: center;
        p {
          margin: 0;
          a {
            text-decoration: underline;
            &:hover {
              color: $orange;
            }
          }
        }
        button {
          white-space: nowrap;
          border-radius: 0;
          background-color: $orange;
          color: #fff;
          margin-left: 10px;
          &:hover {
            background-color: $primary;
          }
        }
      }
    }
  }
}