.banner .nav li {
  @extend .nav-item;
  &.active {
    color: $orange;
  }
}

.banner .nav a {
  @extend .nav-link;
}
.us_surgeons .banner{
    padding-top: 10px;
    .locator {
      display: none;
      visibility: hidden;
    }
}
.banner {
  .locator {
    position: relative;
    width: calc(100% - 20px);
    height: auto;
    margin: 10px;

     @media (min-width: 992px) { 
      position: absolute;
      top: 5px;
      right: 5px;
      width: 300px;
      height: auto;  
     }
  }
  .brand {
    max-width: 275px;
    display: block;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    @media (min-width: 992px) {
      position: relative; 
      left: auto;
      transform: none;
    }
    &.brand-opus,
    &.brand-recon {
      display: none;
      visibility: hidden;
    }
  }
  .augmentation.page-child &{
    .brand {
      &.brand-light,
      &.brand-dark,
      &.brand-opus.brand-recon {
        display: none;
        visibility: hidden;
      }
      &.brand-opus.brand-light {
        display: block;
        visibility: visible;
      }
    }
  }
  .reconstruction &{
    .brand {
      &.brand-light,
      &.brand-dark,
      &.brand-opus.brand-light {
        display: none;
        visibility: hidden;
      }
      &.brand-recon {
        display: block;
        visibility: visible;
      }
    }
  }
  .breast-augmentation & {
    background: #000;
    color: #fff;
/*
    @media (min-width: 768px) { 
      position: absolute;
      top: 0;
      left: 0;
      right: 0;    
    }
*/
    @media (min-width: 992px) { 
      background: #000;
    }
    .brand {
      &.brand-light {
        display: none;
        visibility: hidden;
      }
      &.brand-dark {
        display: block;
        visibility: visible;
      }
    }
    nav {
      ul {
        li {
          a {
            color: #fff;
          }
          
        }
      }
    }
  }
  nav {
    text-transform: uppercase;
    ul {
      li {
        &:last-of-type {
          border-left: 1px solid $orange;
          a {
            color: $orange;
            font-family: 'Avenir-Medium', Avenir, sans-serif;
          }
        }
        &.active,
        &:hover {
          a {
            color: $orange;
          }
        }
      }
    }
  }
  .navbar-toggler-icon {
    background-image: url(../images/burger.svg);
  }

}
