.banner .nav li {
  @extend .nav-item;
}

.banner .nav a {
  @extend .nav-link;
}

.banner {
  .brand {
    max-width: 250px;
    display: block;
  }
  nav {
    text-transform: uppercase;
    ul {
      li {
        &:last-of-type {
          border-left: 1px solid $orange;
          a {
            color: $orange;
            font-family: 'Avenir-Medium', Avenir, sans-serif;
          }
        }
      }
    }
  }
  .navbar-toggler-icon {
    background-image: url(../images/burger.svg);
  }

}