.home {
  .augmentation {
    background: $danger;
  }
  .reconstruction {
    background: $primary;
  }
  .slider {
    background: $tan;
  }
  section {
    .heading {
      display: flex;
    }
  }
  #testimonials {
      background: #eae4de;
      margin-top: 35px;
    .quote-icon {
      width: 50px;
      height: auto;
      margin: 15px auto 0;
      display: flex;
    }
    .swiper-testimonial {
      .swiper-slide {
        padding: 10px 50px 35px;
        background: #eae4de;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-family: 'Avenir-Light', Avenir, sans-serif;
        font-size: 1.1rem;
        @media (min-width: 768px) {
          font-size: 1.8rem;
          line-height: 1.2em;
          padding: 15px 45px 45px;
        }
      }
      .swiper-pagination {
        .swiper-pagination-bullet {
          background: $tan;
          border: 1px solid $orange;
          opacity: 1;
        }
        .swiper-pagination-bullet-active {
          background: $orange;
        }
      }
    }
  }
  .social-love {
    .swiper-social {
      width: 100vw;
    }
    .swiper-slide {
      border: 1px solid $primary;
      padding: 5px;
      .insta-bio {
        max-height: 32px;
        width: auto;
        display: flex;
      }
    }
  }
  .connect {
    .social-icon {
      width: 30px;
      height: auto;
      margin-left: 5px;
      margin-right: 5px;
    }
  }
}