.home {
  .augmentation {
    background: $danger;
  }
  .reconstruction {
    background: $primary;
  }
  .slider {
    background: #eae4de;
  }
  section {
    h1 {
      text-align: center;
    }
  }
  .swiperTestimonial {
    background: #eae4de;
    margin-top: 35px;
    .swiper-slide {
      padding: 100px;
      background: #eae4de;
      text-align: center;
      justify-content: center;
      align-items: center;
      display: flex;
      font-family: 'Avenir-Light', Avenir, sans-serif;
      font-size: 1.8rem;

    }
  }
}