.home {
  .augmentation {
    background: $danger;
  }
  .reconstruction {
    background: $primary;
  }
  .slider {
    background: $tan;
  }
  section {
    .heading {
      display: flex;
    }
  }
  #testimonials {
      background: #eae4de;
      margin-top: 35px;
    .quote-icon {
      width: 50px;
      height: auto;
      margin: 15px auto 0;
      display: flex;
    }
    .swiper-testimonial {
      .swiper-slide {
        padding: 10px 50px 35px;
        background: #eae4de;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-family: 'Avenir-Light', Avenir, sans-serif;
        font-size: 1.1rem;
        @media (min-width: 768px) {
          font-size: 1.7rem;
          line-height: 1.2em;
          padding: 15px 45px 45px;
        }
        p {
          margin: 0;
          max-width: 800px;
          .sig {
            text-align: center;
            @media (min-width: 768px) {
              text-align: right;
              display: block;
              font-size: 1.2rem;
            }
          }
        }
      }
      .swiper-pagination {
        .swiper-pagination-bullet {
          background: $tan;
          border: 1px solid $orange;
          opacity: 1;
          width: 10px;
          height: 10px;
        }
        .swiper-pagination-bullet-active {
          background: $orange;
        }
      }
    }
  }
  .social-love {
    .swiper-social {
      width: 100vw;
    }
    .swiper-slide {
      border: 1px solid $primary;
      padding: 5px;
      .insta-bio {
        max-height: 32px;
        width: auto;
        display: flex;
      }
    }
  }
 }
.breast-augmentation {
  .hero {
    background-image: url(../images/aug-header-mobile.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 170vw;
    display: flex;
    align-content: flex-end;
    padding-bottom: 6vw;
    @media (min-width: 768px) { 
//       background-image: url(../images/aug_home_hero-1200.jpg);
      background-image: url(../images/aug_home_hero-2500.jpg);
      height: 62vw;
      padding-bottom: 7vw;
    }
    @media (min-width: 1999px) { 
      background-image: url(../images/aug_home_hero-2500.jpg);
    }
    div {
      .image-h {
        padding-top: 30%;

      }
      h2 {
        font-size: 1.0rem;
        color: #fff;
        text-align: center;
        padding-top: 5%;
        @media (min-width: 768px) { 
          font-size: 1.2rem;
          padding-top: 15%;
        }
      }
    }
  }
  .why-choose {
    background: $tan;
    padding-left: 10%;
    padding-right: 10%;
    @media (min-width: 576px) {
      padding: inherit;
    }
    header img {
      width: 100%;
      max-width: 430px;
      height: auto;
    }
    hr {
      border-top: 1px solid $orange;
      margin-top: 3rem;
      margin-bottom: 3rem;
    }
    article {
      padding-left: 5%;
      padding-right: 5%;
      @media (min-width: 576px) {
        border-left: 1px solid $orange;
        border-top: none;
      }
      &:first-of-type {
        border: none;
      }
      p {
        margin: 0;
      }

    }

  }
  .shape {
    background-image: url(../images/yoga-pose.jpg);
    background-position: right top;
    background-repeat: no-repeat;
    background-size: contain;
    @media (min-width: 768px) { 
      background-position: right bottom;
      margin-top: 80px;
    }
    .tag {
      height: 107vw;
      h2 {
        font-size: 1.2rem;
      }
       @media (min-width: 768px) { 
        height: auto;
         h2 {
          font-size: 2rem;
         }
       }
    }
    .implant img {
      width: 100%;
      margin-top: 35px;
      @media (min-width: 768px) {
        width: 75%;
        margin-top: 0;
      }
    }
    
  }
  .pair {
    header {
      max-width: 80vw;
    }
    .tag {
      padding-left: 4%;
      padding-right: 4%;

      p {
        font-size: 1.3rem;
        line-height: 1.5rem;
        margin-top: 15px;
        @media (min-width: 768px) {
          font-size: 1.6rem;
          line-height: 1.7rem;
          margin-top: 0;
        }
      }
        h3 {
          font-size: 1.2rem;
          display: flex;
          flex-direction: column;
          @media (min-width: 768px) {
            font-size: 1.5rem;
            display: inline;
          }
          span{

            &:first-of-type {
              @media (min-width: 768px) {
                border-right: 0.1rem solid $primary;
                margin-right: 10px;
                padding-right: 10px;
              }
            }
          }
        }
      h3 {
        font-family: Avenir-Light, Avenir, sans-serif;
        color: $primary;
        margin: 1rem;
        strong {
          color: $orange;
        }
      }
    }
    article {
      padding-left: 4%;
      padding-right: 4%;
      h3 {
        color: $orange;
        font-size: 1.6rem;
        margin-bottom: 0;
      }
      .rounded-circle {
        height: 150px;
        width: 150px;
        background-color: $orange;
        text-align: center;
        color: #fff;
        border: 1px solid $orange;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 8%;
        font-size: 1.2rem;
        font-family: Avenir-Light, Avenir, sans-serif;
        margin-bottom: 1rem;
        align-items: center;
        strong {
          font-size: 1.7rem;
          margin-bottom: .6rem;
        }
        p {
          margin: 0;
        }
      }
      p {
        font-size: 1.2rem;
      }
    }
  }
  $max-width-matters: 1650px;
  $break1: 41vw;
  $break2: 60vw;
  $break3: 600px;
  .matters {
    max-width: $max-width-matters;
    margin-left: auto;
    margin-right: auto;
    header img {
      width: 100%;
      max-width: 700px;
      height: auto;
       @media (min-width: 768px) {
         width: 60vw;
       }
    }
    .wrap {
      position: relative;
      font-size: 1.0rem;
      line-height: 1.4rem;
      padding-left: 0;
      padding-right: 0;
      @media (min-width: 768px) {
        font-size: 1.2rem
      }
      @media (min-width: 992px) {
        font-size: 1.2rem;
        line-height: 1.5rem;
        display: flex;
        align-items: center;
      }
      @media (min-width: 1200px) { 
        font-size: 1.7rem;
        line-height: 1.9rem;
//         min-height: $break1;
      }
      @media (min-width: $max-width-matters) {
      } 
      h2 {
        font-size: 1.2rem;
        color: $orange;
        border: 1px solid #fff;
        padding: 5px;
        display: inline-block;
        font-family: 'Avenir-Medium', Avenir, sans-serif;
        margin-bottom: 1.5rem;
        @media (min-width: 768px) {
          font-size: 1.8rem;
          padding: 5px 45px;
        }
      }
      .imgwrap {
        z-index: 2;
        margin-bottom: 20px;
        @media (min-width: 992px) {
          position: absolute;
          left: 0;
//           height: $break1;
          padding-top: 25px;
          padding-bottom: 25px;
          margin-left: -30px; 
          margin-bottom: 0;
        }
        @media (min-width: 1200px) { 
          min-height: 35vw;
        }
        @media (min-width: $max-width-matters) { 
          height: 100%;
          width: auto;
        }
        img {
          width: 100%;
          height: auto;
          
          @media (min-width: 992px) {

            margin-right: auto;
            display: block;
          }
          @media (min-width: $max-width-matters) {
            max-height: 700px;
          }
        }
        #matters-video {
          width: 95%;
          height: auto;
          min-height: 35vw;
          .vjs-big-play-button {
            display: none;
          }
        }
      }
      .boxed-wrap {
        z-index: 1;
        border: 1px solid $primary;
        padding: 10px;
        @media (min-width: 992px) {
/*
          position: absolute;
          right: 15px;
*/
          padding: 10px;
          background-color: #fff;
        } 


        div {
          background-color: $tan;
          padding: 20px;
          height: 100%;
          @media (min-width: 992px) { 
            padding: 20px 5% 20px 20%;
          }
          @media (min-width: 1200px) { 
            min-height: 40vw;
            padding: 20px 10% 20px 15%;
          }
          @media (min-width: $max-width-matters) { 
            min-height: 700px;
          }
          img {
            max-width: 400px;
            margin-left: auto;
            margin-right: auto;
          }
        }
      }
    }
  }
  .love {
    .testimonial {
       .quote-icon {
        width: 30px;
        height: auto;
        margin: 30px auto 0;
        display: flex;
        @media (min-width: 768px) { 
          width: 50px;
        }
      }
      p{
        text-align: center;
        font-family: 'Avenir-Light', Avenir, sans-serif;
        font-size: 1.2rem;
        @media (min-width: 768px) { 
          font-size: 1.6rem;
          line-height: 1.8rem;
        }
        .sig {
          text-align: right;
          display: block;
          font-size: 1.0rem;
          @media (min-width: 768px) {
          font-size: 1.4rem;
          }
        }
      }     
    }
  }
    $max-width-matters: 1650px;
    $break1: 40vw;
    $break2: 40vw;
    $break3: 600px;
    .realself {
      max-width: $max-width-matters;
      margin-left: auto;
      margin-right: auto;
      .wrap {
        position: relative;
        font-size: 1.1rem;
        line-height: 1.2rem;
        @media (min-width: 992px) {
          height: $break2;
          font-size: 1.5rem;
          line-height: 1.8rem;
          display: flex;
          align-items: center;
        }
        @media (min-width: 1200px) { 
          height: $break1;
        }
        @media (min-width: $max-width-matters) {
          height: $break3;
        } 
        h2 {
          font-size: 1rem;
          font-family: 'Avenir-Light', Avenir, sans-serif;
          @media (min-width: 992px) { 
            font-size: 2.0rem;
          }
          strong {
            font-family: 'Avenir-Medium', Avenir, sans-serif;
          }
          margin-top: 20px;
          margin-bottom: 15px;
        }
        .rated {
          background: #fff;
          padding: 25px 25px 0;
          small {
            font-size: 0.5rem;
            text-align: right;
            display: inline-block;
            width: 100%;
          }
          .rated-inner {
            border: 1px solid $primary;
            padding: 15px;
            height: 100%;
            @media (min-width: 992px) {
              border-right: none;
              margin-right: -15px;
            }
          }
          @media (min-width: 992px) {
            position: absolute;
            right: 0;
            margin-left: -15px;
            padding: 25px 0 0 25px; 
          }
          img {
            width: 80%;
            height: auto;
            @media (min-width: 992px) {
              width: 100%;
              margin-right: auto;
              display: block;
            }
          }
        }
        .model {
          img {
            width: 100%;
            height: auto;
          }
          @media (min-width: 992px) {
            position: absolute;
            left: 0;
            background-color: #fff;
            width: auto;
            height: $break2;
          }
          @media (min-width: 1200px) { 
            height: $break1;
          } 
          @media (min-width: 1200px) { 
            height: $break1;
          } 
          @media (min-width: $max-width-matters) { 
            height: $break3;
          } 
          div {
            background-color: $tan;
            padding: 20px 5% 20px 15%;
            height: 100%;
            img {
              max-width: 400px;
              margin-left: auto;
              margin-right: auto;
            }
          }
        }
      }
  }
  .factor {
    .container {
      background-image: url(../images/implant-bg.jpg);
      background-position: center top;
      background-size: contain;
      background-repeat: no-repeat;
      h3 {
        color: $primary;
        font-size: 1.5rem;
        margin-bottom: 0;
      }
      .tag {
        font-size: 1.5rem;
        padding-left: 4%;
        padding-right: 4%;
        line-height: 1.7rem;
        img {
          width: 100%;
          height: auto;
          max-width: 400px;
          margin-bottom: 1.5rem;
        }
        h2 {
          font-family: Avenir-Light, Avenir, sans-serif;
          color: $primary;
          strong {
            font-family: Avenir-Heavy, Avenir, sans-serif;
            color: $orange;
          }
        }
      }
    }
    .rounded-circle {
      height: 155px;
      width: 155px;
      background-color: transparent;
      background-position: center center;
      background-size: 150px auto;
      background-repeat: no-repeat;
      text-align: center;
      color: $orange;
      margin-left: auto;
      margin-right: auto;
      font-size: 3.0rem;
      
      display: flex;
      align-items: center;
      margin-bottom: 2rem;
      strong {
        margin-left: auto;
        margin-right: auto;
        font-family: 'Avenir-Black', Avenir, sans-serif;
      }
      &._90 {
        background-image: url(../images/90percent.svg);
        color: $primary;
      }
      &._91 {
        background-image: url(../images/91percent.svg);
        color: $orange;
      }
      &._79 {
        background-image: url(../images/79percent.svg);
        color: #a4a6a8
      }
    }
  }
  .unmatched {
    font-size: 1.0rem;
    line-height: 1.3rem;
    @media (min-width: 768px) {
      font-size: 1.4rem;
      line-height: 1.7rem;
      header img {
        margin-top: -50px;
      }
      margin-top: 50px;
      background-image: url(../images/unmatched-bg.jpg);
      background-position: center right;
      background-size: cover;
      background-repeat: no-repeat;
      height: 54vw;
      background-position: center top;
    }
    .warranty {
      @media (max-width: 767px) {
        background-image: url(../images/unmatched-bg.jpg);
        background-position: center right;
        background-size: cover;
        background-repeat: no-repeat;
        height: 60vw;
        padding-left: 13vw;
        padding-right: 60vw;
        padding-top: 20px;
      }
    }
  }
}

// end .home

/* 
 * 
 */
 
// start .implant-science

.implant-science {
  .boxy-box.science {
    .wrap {
      .message {
        background-image: url(../images/science-bg.jpg);
        background-position: right center;
        background-size: 75%;
        background-repeat: no-repeat;
        
        .message-inner {
          padding: 20% 15px;
          img {
            width: 90%;
            height: auto;
          }
        }
      }
    }
  }
  .patient-safety {
    background-color: $tan;
    padding: 15px;
    .inner {
      border: 1px solid #fff;
      padding: 15px;
      header {
        justify-content: center;
        .h-line {
          border-right: 1px solid $orange;
          margin-right: 15px;
        }
        p {
          font-size: 1.6rem;
          line-height: 2.2rem;
        }
      }
      article {
        padding-left: 4%;
        padding-right: 4%;
        h3 {
          color: $orange;
          font-size: 1.6rem;
          margin-bottom: 0;
        }
        .rounded-circle {
          height: 150px;
          width: 150px;
          background-color: $orange;
          text-align: center;
          color: #fff;
          border: 1px solid $orange;
          margin-left: auto;
          margin-right: auto;
          line-height: 1.2rem;
          display: flex;
          flex-direction: column;
          justify-content: flex-start;
          padding: 11% 8% 8%;
          font-size: 1.2rem;
          font-family: Avenir-Light, Avenir, sans-serif;
          margin-bottom: 1rem;
          strong {
            font-size: 1.7rem;
            margin-bottom: .6rem;
          }
          p {
            margin: 0;
          }
        }
        p {
          font-size: 1.2rem;
        }
      }
    }
  }
  .desired-look {
    font-size: 1.5rem;
    max-width: 1250px;
    header img {
      transform: translateX(2%);
      max-width: 475px;
    }
  }
  .surfaces {
    .wrap {
      background-color: $tan;
      padding: 15px;
      flex-basis: 1;
      flex-grow: 1;
      max-width: 100%;
      position: relative;
      width: 100%;
      @media (min-width: 768px) {
        flex-basis: 0;
      }
      div {
        img {
          width: 80%;
          margin-bottom: 15px;
          &.micro {
            width: 76%;
          }
        }
        border: 1px solid #fff;
        padding: 15px;
        font-size: 1.2rem;
        height: 100%;
      }
    }
  }
  .feel-so-real {
    font-size: 1.3rem;
    font-family: 'Avenir-light', Avenir, sans-serif;
    header img {
      transform: translateX(-17%);
      max-width: 350px;
    }
    .press {
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
        padding-bottom: 70%; 
      &.hsc {
        background-image: url(../images/hsc.jpg);
        &:hover{
          background-image: url(../images/hsc.gif);
        }
      }
      &.hsc-plus {
        background-image: url(../images/hsc-plus.jpg);
        &:hover{
          background-image: url(../images/hsc-plus.gif);
        }
      }
      
    }

    h3 {
      color: $orange;
      font-size: 1.3rem;
      font-family: 'Avenir-medium', Avenir, sans-serif;
    }
    p {
      line-height: 1.8rem;
    }
  }
  .luxe {
    background-image: url(../images/luxe-bg-m.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 80vw;
    padding-left: 4%;
    padding-top: 15%;
    flex-direction: column;
    ._250-round {
      margin-top: 53vw;
      padding-left: 15%;
      padding-right: 15%; 
    }
    @media (min-width: 768px) { 
       background-image: url(../images/luxe-bg.jpg);
       min-height: 53vw;
       padding-top: 3%;
      ._250-round { 
        margin-top: 0;
        padding: 3%;
      }
    }
    .luxe-projections {
	    height: 16vw;
	    width: 32vw;
	    background-position: center bottom;
	    background-size: contain;
	    position: relative;
  		display: flex;
  		flex-direction: column;
  		align-items: center;
  		transition: background-image ease-in 0.3s;
  		&:hover .projection-bg.default {
  			opacity: 0;
  		}
	    .projection {
		    position: absolute;
		    bottom: 0;
		    height: 100%;
		    width: 100%;
  			border-top-left-radius: 1000px;
  			border-top-right-radius: 1000px;
  			border-bottom-left-radius: 100px;
  			border-bottom-right-radius: 100px;
  			z-index: 2;
		    &.low {
			    height: 43%;
  				width: 95%;
  				opacity: 1;
			 	&:hover ~ .projection-bg.low{
				 	opacity: 1;
			 	}

		    }
		    &.mod {
			    height: 59%;
  			 	&:hover ~ .projection-bg.mod{
  				 	opacity: 1;
  			 	}
  			 	&:hover ~ .projection-bg.low{
  				 	opacity: 0;
  			 	}
		    }
		    &.mod-plus {
			    height: 70%;
  			 	&:hover ~ .projection-bg.mod-plus{
  				 	opacity: 1;
  			 	}
  			 	&:hover ~ .projection-bg.low{
  				 	opacity: 0;
  			 	}
		    }
		    &.high {
			    height: 83%;
				border-bottom-left-radius: 100px;
				border-bottom-right-radius: 100px;
  			 	&:hover ~ .projection-bg.high{
  				 	opacity: 1;
  			 	}
  			 	&:hover ~ .projection-bg.low{
  				 	opacity: 0;
  			 	}
		    }
		    &.xtra-high {
			    height: 100%;
				border-top-left-radius: 800px;
				border-top-right-radius: 800px;
  			 	&:hover ~ .projection-bg.xtra-high{
  				 	opacity: 1;
  			 	}
  			 	&:hover ~ .projection-bg.low{
  				 	opacity: 0;
  			 	}   
		    }
	    }
	    .projection-bg {
			position: absolute;
			bottom: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
			background-position: center bottom;
			background-size: contain;
			background-repeat: no-repeat;
			opacity: 0;
			transition: opacity ease-in 0.3s;
			align-items: flex-end;
			justify-content: center;
      display: flex;
			  p{
  			  margin-bottom: -28px;
			  }
  			&.low {
  				background-image: url(../images/luxe-projection-low.png);
  				opacity: 1;
  			}
  			&.mod {
  				background-image: url(../images/luxe-projection-moderate.png);
  			}
  			&.mod-plus {
  				background-image: url(../images/luxe-projection-moderate-plus.png);
  			}
  			&.high {
  				background-image: url(../images/luxe-projection-high.png);
  			}
  			&.xtra-high {
  				background-image: url(../images/luxe-projection-xrta-high.png);
  			}

	    }
    }

    .swiper-luxe-projection {
      .swiper-slide {
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {

        }
        p, img {
          opacity: 0;
          transition: opacity ease-out 0.3s;
        }
        &.swiper-slide-active {
          p, img {
            opacity: 1;
          }
        }   
      }
    }
  }
  .curve {
    background-image: url(../images/curve-bg-m.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 108vw;
    padding-left: 4%;
    padding-top: 15%;
    ._90-options {
      margin-top: 78vw;
      padding-left: 15%;
      padding-right: 15%; 
    }
    .implant {
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        @media (min-width: 768px) {
          max-width: 70%;
        }
      }
    }
    @media (min-width: 768px) { 
       background-image: url(../images/curve-bg.jpg);
       min-height: 52vw;
      ._90-options { 
        margin-top: 0;
        padding: 3%;
      }
    }
    .curve-projections {
	    height: 32vw;
	    width: 32vw;
	    background-position: center bottom;
	    background-size: contain;
	    position: relative;
  		flex-direction: column;
  		align-items: center;
  		&:hover .projection-bg.default {
  			opacity: 0;
  		}
	    .projection {
		    position: absolute;
		    bottom: 0;
		    left: 15%;
		    height: 100%;
		    width: 100%;
  			border-top-left-radius: 0;
  			border-top-right-radius: 100%;
  			border-bottom-left-radius: 0;
  			border-bottom-right-radius: 0;
  			z-index: 2;
  			
		    &.low {
			    height: 100%;
          width: 46%;
  				opacity: 1;
  			 	&:hover ~ .projection-bg.low{
  				 	opacity: 1;
  			 	}

		    }
		    &.high {
			    height: 100%;
			    width: 68%;
  			 	&:hover ~ .projection-bg.high{
  				 	opacity: 1;
  			 	}
  			 	&:hover ~ .projection-bg.low{
  				 	opacity: 0;
  			 	}
		    }
	    }
	    .projection-bg {
  			position: absolute;
  			bottom: 0;
  			left: 15%;
  			height: 100%;
  			z-index: 1;
  			background-position: center left;
  			background-size: contain;
  			background-repeat: no-repeat;
  			opacity: 0;
  			transition: opacity ease-in 0.3s;
  			align-items: flex-end;
  			justify-content: center;
        display: flex;
        color: #fff;
			  p{
  			  margin-bottom: -28px;
			  }
  			&.low {
  				background-image: url(../images/curve-projection-low.png);
  				opacity: 1;
  			}
  			&.high {
  				background-image: url(../images/curve-projection-high.png);
  			}

	    }
    }

    .swiper-curve-projection {
      .swiper-slide {
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {

        }
        p, img {
          opacity: 0;
          transition: opacity ease 0.3s;
        }
        &.swiper-slide-active {
          p, img {
            opacity: 1;
          }
        }   
      }
    }
  }
}

// end .implant-science

/* 
 * 
 */
 
// start .breast-implant-basics

.breast-implant-basics {
  .boxy-box {
    .wrap {
      .model {
        order: 2; 
        @media (min-width: 992px) {
          margin-left: calc(-8.33333% + 15px);
        }
      }
      .message {
        order: 1;
        background-image: url(../images/basics-bg.jpg);
        background-position: center;
        background-size: 75%;
        background-repeat: no-repeat; 
        @media (min-width: 992px) {
          margin-left: -30px;
        }   
        .message-inner {
          padding: 15% 15px;
          align-items: center;
          img {
            width: 90%;
            height: auto;
          }
        }
      }
    }
  }
  .get-started {
    header {
      img {
        transform: translateX(-9%);
        max-width: 70vw;
        @media (min-width: 992px) {
          max-width: 50%;
        }
      }
      h3 {
        font-size: 1.1rem;
        @media (min-width: 992px) {
          font-size: 1.5rem;
          line-height: 1.9rem; 
        }
      }
    }
    p {
      @media (min-width: 992px) {
        font-size: 1.5rem;
        line-height: 1.9rem; 
        width: 75%;
      }
    }
  }
  .faq {
    border: 1px solid #000;
    padding: 15px;
    background-color: #fff;
    .accordion {
      padding: 15px;
      background-color: $tan;
      .card {
        background-color: transparent;
        border: 1px solid #fff !important;
        margin-bottom: 15px;
        border-bottom: 1px;
        .card-header {
          background-color: transparent;
          padding: 0;
          border: none;
          button {
            &:not(.collapsed) {
              background-color: #fff;
            }
            font-size: 1.2rem;
            font-family: 'Avenir-Light', Avenir, sans-serif;
            padding: 15px;
            width: 100%;
            text-align: left;
            @media (min-width: 768px) {
              font-size: 1.8rem;
            }
          }
        }
        .card-body {
          background-color: #fff;
          .round {
            justify-content: space-around;
            img {
              width: 80%;
              height: auto;
               @media (min-width: 768px) {
                  width: 15%;                 
               }
            }
          }
          .teardrop {
            justify-content: center;
            img {
              width: 80%;
              height: auto;
               @media (min-width: 768px) {
                  width: 20%;                 
               }
              
            }
          }
          .silicone {
            .tag {
              padding-left: 4%;
              padding-right: 4%;
              h3 {
                font-size: 1.2rem;
                display: flex;
                flex-direction: column;
                @media (min-width: 768px) {
                  font-size: 1.5rem;
                  display: inline;
                }
                span{
                  &:first-of-type {
                    @media (min-width: 768px) {
                      border-right: 0.1rem solid $primary;
                      margin-right: 10px;
                      padding-right: 10px;
                    }
                  }
                }
                
                font-family: Avenir-Light, Avenir, sans-serif;
                color: $primary;
                margin: 1rem;
                strong {
                  color: $orange;
                }
              }
            }

            .container {
              h3 {
                color: $orange;
                font-size: 1.0rem;
                margin-bottom: 0;
              }
            }
            .rounded-circle {
              height: 150px;
              width: 150px;
              
              text-align: center;
              color: $orange;
//               border: 1px solid $orange;
              margin-left: auto;
              margin-right: auto;
              line-height: 1.2rem;
              display: flex;
              flex-direction: column;
              justify-content: center;
              padding: 8%;
              font-size: 1.1rem;
              font-family: Avenir-Light, Avenir, sans-serif;
              margin-bottom: 1rem;
              align-items: center;
              background-image: url(../images/silicone-faq-circle.svg);
              background-size: 145px auto;
              background-position: center center;
              background-repeat: no-repeat;
              strong {
                font-size: 1.5rem;
                margin-bottom: .6rem;
                margin-top: 20px;
              }
              
              strong {
                margin-left: auto;
                margin-right: auto;
                font-family: 'Avenir-Black', Avenir, sans-serif;
              }
            }
          }

          
          
          
          
        }
      }
    }
  }
}

// end .breast-implant-basics

/* 
 * 
 */
 
// start .warranty-details

.warranty-details {
  .boxy-box {
    .wrap {
      .model {
        order: 2; 
        @media (min-width: 992px) {
          margin-left: calc(-8.33333% + 15px);
        }
      }
      .message {
        order: 1;
        @media (min-width: 992px) {
          margin-left: -30px;
        }   
        .message-inner {
          padding: 15% 15px;
          align-items: center;
          img {
            width: 90%;
            height: auto;
          }
        }
      }
    }
  }
  .bg-wrap {
    background-image: url(../images/warranty-bg.jpg);
    background-repeat: no-repeat;
    background-position: 30vw -10%;
    background-size: contain;
    @media (min-width: 768px) { 
      background-position: 30vw top;
    }
    @media (min-width: 922px) {
      background-position: right bottom;
    }
  }
  .comfort {
    p {
      font-size: 1.2rem;
      .opus {
        font-family: 'Avenir-Medium', Avenir, sans-serif;
      }
    }
  }
  .coverage {
    font-family: 'Avenir-Light', Avenir, sans-serif;
    .lead {
      margin-bottom: 100px;
      margin-top: 30px;
      text-align: left;
      @media (min-width: 768px) { 
        text-align: center;
      }
    }
    p {
      font-size: 1.3rem;
      &.small {
        font-size: .9rem;
      }
    }
    ul {
      margin-bottom: 100px;
      transition: background-color ease-in 0.2s;
      background-color: transparent;
      @media (max-width: 1100px) {
        background-color: rgba(255, 255, 255, 0.5);
        border-radius: 25px;
      }
      li {
        font-size: 1.2rem;
        border: none;
        padding: 0 0 0.5rem; 
        background: transparent;
        span {
          color: $orange;
          width: 5.5rem;
          line-height: 2.0rem;
          float: left;
          display: inline-block;
          font-family: 'Avenir-Heavy', Avenir, sans-serif;
          font-size: 1.3rem;
        }
      }
    }
  }  
}

// end .warranty-details

/* 
 * 
 */
 
// start .patient-resources

.patient-resources {
  .boxy-box {
    .wrap {
      .model {

      }
      .message {
        .message-inner {
          padding: 25% 15px;
          align-items: center;
          img {
            width: 90%;
            height: auto;
          }
        }
      }
    }
  }
  .resources {
    article {
      header {
        display: flex;
      }
      line-height: 1.2rem;
      span a {
        color: $orange;
        margin-bottom: 1rem;
        margin-right: .3rem;
        float: left;
        font-family: 'Avenir-Heavy', Avenir, sans-serif;
        text-decoration: underline;
        &:hover {
          color: $primary;
        }
      }
      h3 {
        color: $orange;
        border: 1px solid $primary;
        padding: 5px 20px;
        text-align: center;
        margin: 50px auto 30px;

      }
    }
    .commitment {
       h3 {
        background-color: $orange;
        color: #fff;
        border: none;         
      }
      span a {
        margin-bottom: 4rem;
      }
    }
  } 
}

// end .patient-resources

/* 
 * 
 */
 
// start .before-after-gallery

.before-after-gallery {
  .intro {
    h3 {
      font-size: 1.4rem;
      font-family: 'Avenir-Light', Avenir, sans-serif;
    }
  }
  .boxy-box {
    .message {
      .message-inner {
        padding: 17% 30px;
      }
    }
  }
  .projection {
    border: 1px solid $orange;
    padding: 0 25px 50px;
    margin-top: 70px;
    header img {
      margin: -35px auto 30px;
      height: 65px;
      width: auto;
      display: block;
      @media (min-width: 768px) { 
      margin: -35px auto 30px;
      height: 130px;
      }
    } 
    img {
      width: 100%;
      height: auto;
    }
    article {
      padding: 0;
    }
    &.low header img {
      margin-top: -18px;
      @media (min-width: 768px) { 
        margin-top: -35px;
      }
    }
    &.moderate header img {
      margin-top: -18px;
      @media (min-width: 768px) { 
        margin-top: -35px;
      }
    }
    &.moderate-plus header img {
      margin-top: -21px;
      @media (min-width: 768px) { 
        margin-top: -40px;
      }
    }
    &.high header img {
      margin-top: -23px;
      @media (min-width: 768px) { 
        margin-top: -45px;
      }
    }
    &.xtra-high header img {
      margin-top: -29px;
      @media (min-width: 768px) { 
        margin-top: -58px;
      }
    }
      
  }
}

// end .before-after-gallery

/* 
 * 
 */
 
// start .expander-implant-options

.expander-implant-options {
  .boxy-box {
    .message {
      .message-inner {
        padding: 17% 30px;
      }
    }
  }
  .why-choose {
    background: $tan;
    padding: 15px;
/*
    @media (min-width: 576px) {
      padding: inherit;
    }
*/
    .wrap {
      border: 1px solid #fff;
      padding-left: 10%;
      padding-right: 10%;
      flex-wrap: wrap;
      flex-direction: row;
      display: flex;
      header img {
        width: 100%;
        max-width: 430px;
        height: auto;
      }
      hr {
        border-top: 1px solid $orange;
        margin-top: 3rem;
        margin-bottom: 3rem;
      }
      article {
        padding-left: 5%;
        padding-right: 5%;
        @media (min-width: 576px) {
          border-left: 1px solid $orange;
          border-top: none;
        }
        &:first-of-type {
          border: none;
        }
        p {
          margin: 0;
        }
  
      }
      small {
        flex-basis: 100%;
        text-align: left;
      }
    }
  }
  .boxy-box.following {
    .wrap {
      .model {
        order: 2; 
        @media (min-width: 992px) {
          margin-left: calc(-8.33333% + 15px);
        }
      }
      .message {
        order: 1;
        background-color: $tan;
        @media (min-width: 992px) {
          margin-left: 0;
        }   
        .message-inner {
          padding: 30px;
          align-items: center;
          border-color: #fff;
          font-size: 1.2rem;
          @media (min-width: 768px) {
            font-size: 1.5rem;
          }
          img {
            width: 90%;
            height: auto;
          }
        }
      }
    }
  }
  .expanders {
    h2 {
      padding-left: 5%;
      padding-right: 5%;
      margin-bottom: 35px;
      font-size: 1.3rem;
      @media (min-width: 768px) {
        padding-left: 18%;
        padding-right: 18%;
        font-size: 2.0em;       
      }
    }
    .allo-derm {
      display: flex;
      flex-direction: column;
      justify-content: center;
      @media (min-width: 768px) {
        flex-direction: row;
        height: 32vw;
      }
      img {
        height: auto;
        width: 100%;
        flex-basis: 100%;
        @media (min-width: 768px) {
          height: 100%;
          width: auto;
        }
      }
    }
  }
  #testimonials {
      background: #eae4de;
      margin-top: 35px;
      flex-direction: column;
    .quote-icon {
      width: 50px;
      height: auto;
      margin: 15px auto 0;
      display: flex;
    }
    .swiper-testimonial {
      .swiper-slide {
        padding: 10px 50px 35px;
        background: #eae4de;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-family: 'Avenir-Light', Avenir, sans-serif;
        font-size: 1.1rem;
        @media (min-width: 768px) {
          font-size: 1.7rem;
          line-height: 1.2em;
          padding: 15px 45px 5px;
        }
        p {
          margin: 0;
          max-width: 800px;
          .sig {
            text-align: center;
            @media (min-width: 768px) {
              text-align: right;
              display: block;
              font-size: 1.2rem;
            }
          }
        }
      }
      .swiper-pagination {
        .swiper-pagination-bullet {
          background: $tan;
          border: 1px solid $orange;
          opacity: 1;
          width: 10px;
          height: 10px;
        }
        .swiper-pagination-bullet-active {
          background: $orange;
        }
      }
    }
  }
  .implant-options {

    max-width: 1650px;
    header {      
      img {
        transform: translateX(-9%);
        max-width: 475px;
        width: 80%
      }
      h2 {
        font-size: 1.3rem;
        @media (min-width: 768px) {
          font-size: 2.0rem;
        }
      }
    }
    & > .row {
      div {
        display: flex;
        flex-direction: column;
        justify-content: flex-end;
        p {
          margin-left: 5%;
          margin-right: 5%;
          font-size: 1.2rem;
           @media (min-width: 768px) { 
            font-size: 1.5rem;
           }
        }
        img {
          width: 50%;
          margin-bottom: 15px;
          margin-left: auto;
          margin-right: auto;
          &.diagram {
            width: 100%;
          }
        }
      }
    } 
  }
  .feel-so-real {
    
    header img {
      transform: translateX(-17%);
      width: 60%;
      max-width: 390px;
    }
    img.optimal {
      width: 50%;
      max-width: 300px;
    }
    .press {
        background-position: center center;
        background-size: 100%;
        background-repeat: no-repeat;
        display: block;
        padding-bottom: 70%; 
      &.hsc {
        background-image: url(../images/hsc.jpg);
        &:hover{
          background-image: url(../images/hsc.gif);
        }
      }
      &.hsc-plus {
        background-image: url(../images/hsc-plus.jpg);
        &:hover{
          background-image: url(../images/hsc-plus.gif);
        }
      }
      
    }
    h3 {
      color: $orange;
      font-size: 1.3rem;
      font-family: 'Avenir-medium', Avenir, sans-serif;
    }
    p {
      line-height: 1.3rem;
      font-size: 1.0rem;
      font-family: 'Avenir-light', Avenir, sans-serif;
      @media (min-width: 768px) { 
      line-height: 1.8rem;
      font-size: 1.3rem;        
      }
    }
  }
  .luxe {
    background-image: url(../images/luxe-bg-m.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 80vw;
    padding-left: 4%;
    padding-top: 15%;
    flex-direction: column;
    ._250-round {
      margin-top: 53vw;
      padding-left: 15%;
      padding-right: 15%; 
    }
    @media (min-width: 768px) { 
       background-image: url(../images/recon-luxe-bg.jpg);
       min-height: 55vw;
       padding-top: 3%;
      ._250-round { 
        margin-top: 0;
        padding: 3%;
      }
    }
    .luxe-projections {
	    height: 16vw;
	    width: 32vw;
	    background-position: center bottom;
	    background-size: contain;
	    position: relative;
  		display: flex;
  		flex-direction: column;
  		align-items: center;
  		transition: background-image ease-in 0.3s;
  		&:hover .projection-bg.default {
  			opacity: 0;
  		}
	    .projection {
		    position: absolute;
		    bottom: 0;
		    height: 100%;
		    width: 100%;
  			border-top-left-radius: 1000px;
  			border-top-right-radius: 1000px;
  			border-bottom-left-radius: 100px;
  			border-bottom-right-radius: 100px;
  			z-index: 2;
		    &.low {
			    height: 43%;
  				width: 95%;
  				opacity: 1;
			 	&:hover ~ .projection-bg.low{
				 	opacity: 1;
			 	}

		    }
		    &.mod {
			    height: 59%;
  			 	&:hover ~ .projection-bg.mod{
  				 	opacity: 1;
  			 	}
  			 	&:hover ~ .projection-bg.low{
  				 	opacity: 0;
  			 	}
		    }
		    &.mod-plus {
			    height: 70%;
  			 	&:hover ~ .projection-bg.mod-plus{
  				 	opacity: 1;
  			 	}
  			 	&:hover ~ .projection-bg.low{
  				 	opacity: 0;
  			 	}
		    }
		    &.high {
			    height: 83%;
				border-bottom-left-radius: 100px;
				border-bottom-right-radius: 100px;
  			 	&:hover ~ .projection-bg.high{
  				 	opacity: 1;
  			 	}
  			 	&:hover ~ .projection-bg.low{
  				 	opacity: 0;
  			 	}
		    }
		    &.xtra-high {
			    height: 100%;
				border-top-left-radius: 800px;
				border-top-right-radius: 800px;
  			 	&:hover ~ .projection-bg.xtra-high{
  				 	opacity: 1;
  			 	}
  			 	&:hover ~ .projection-bg.low{
  				 	opacity: 0;
  			 	}   
		    }
	    }
	    .projection-bg {
			position: absolute;
			bottom: 0;
			height: 100%;
			width: 100%;
			z-index: 1;
			background-position: center bottom;
			background-size: contain;
			background-repeat: no-repeat;
			opacity: 0;
			transition: opacity ease-in 0.3s;
			align-items: flex-end;
			justify-content: center;
      display: flex;
			  p{
  			  margin-bottom: -28px;
			  }
  			&.low {
  				background-image: url(../images/luxe-projection-low.png);
  				opacity: 1;
  			}
  			&.mod {
  				background-image: url(../images/luxe-projection-moderate.png);
  			}
  			&.mod-plus {
  				background-image: url(../images/luxe-projection-moderate-plus.png);
  			}
  			&.high {
  				background-image: url(../images/luxe-projection-high.png);
  			}
  			&.xtra-high {
  				background-image: url(../images/luxe-projection-xrta-high.png);
  			}

	    }
    }
    .swiper-luxe-projection {
      .swiper-slide {
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {

        }
        p, img {
          opacity: 0;
          transition: opacity ease 0.3s;
        }
        &.swiper-slide-active {
          p, img {
            opacity: 1;
          }
        }   
      }
    }

  }
  .curve {
    background-image: url(../images/curve-bg-m.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    min-height: 108vw;
    padding-left: 4%;
    padding-top: 5%;
    ._90-options {
      margin-top: 78vw;
      padding-left: 15%;
      padding-right: 15%; 
    }
    .implant {
      img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        max-width: 50%;
        @media (min-width: 768px) {
          max-width: 70%;
        }
      }
    }
    @media (min-width: 768px) { 
       background-image: url(../images/recon-curve-bg.jpg);
       min-height: 68vw;
      ._90-options { 
        margin-top: 0;
        padding: 3%;
      }
    }
    .curve-projections {
	    height: 32vw;
	    width: 32vw;
	    background-position: center bottom;
	    background-size: contain;
	    position: relative;
  		flex-direction: column;
  		align-items: center;
  		&:hover .projection-bg.default {
  			opacity: 0;
  		}
	    .projection {
		    position: absolute;
		    bottom: 0;
		    left: 15%;
		    height: 100%;
		    width: 100%;
  			border-top-left-radius: 0;
  			border-top-right-radius: 100%;
  			border-bottom-left-radius: 0;
  			border-bottom-right-radius: 0;
  			z-index: 2;
  			
		    &.low {
			    height: 100%;
          width: 46%;
  				opacity: 1;
  			 	&:hover ~ .projection-bg.low{
  				 	opacity: 1;
  			 	}

		    }
		    &.high {
			    height: 100%;
			    width: 68%;
  			 	&:hover ~ .projection-bg.high{
  				 	opacity: 1;
  			 	}
  			 	&:hover ~ .projection-bg.low{
  				 	opacity: 0;
  			 	}
		    }
	    }
	    .projection-bg {
  			position: absolute;
  			bottom: 0;
  			left: 15%;
  			height: 100%;
  			z-index: 1;
  			background-position: center left;
  			background-size: contain;
  			background-repeat: no-repeat;
  			opacity: 0;
  			transition: opacity ease-in 0.3s;
  			align-items: flex-end;
  			justify-content: center;
        display: flex;
        color: #fff;
			  p{
  			  margin-bottom: -28px;
			  }
  			&.low {
  				background-image: url(../images/curve-projection-low.png);
  				opacity: 1;
  			}
  			&.high {
  				background-image: url(../images/curve-projection-high.png);
  			}

	    }
    }

    .swiper-curve-projection {
      .swiper-slide {
        display: flex;
        flex-direction: column;
        @media (min-width: 768px) {
          color: #fff;
        }
        p, img {
          opacity: 0;
          transition: opacity ease 0.3s;
        }
        &.swiper-slide-active {
          p, img {
            opacity: 1;
          }
        }   
      }
    }
  }
  .factor {
    @media (min-width: 768px) { 
      margin-top: -130px;
    }
    .container {
      background-image: url(../images/implant-bg.jpg);
      background-position: center top;
      background-size: contain;
      background-repeat: no-repeat;
      @media (min-width: 768px) {
        border-top-right-radius: 37%;
      }
      h3 {
        color: $primary;
        font-size: 1.5rem;
        font-family: Avenir-Light, Avenir, sans-serif; 
        margin-bottom: 0;
      }
      .tag {
        font-size: 1.5rem;
        padding-left: 4%;
        padding-right: 4%;
        line-height: 1.7rem;
        img {
          width: 100%;
          height: auto;
          max-width: 400px;
          margin-bottom: 1.5rem;
        }
        h2 {
          font-family: Avenir-Light, Avenir, sans-serif;
          color: $primary;
          strong {
            font-family: Avenir-Heavy, Avenir, sans-serif;
            color: $orange;
          }
        }
      }
    }
    .rounded-circle {
      height: 155px;
      width: 155px;
      background-color: transparent;
      background-position: center center;
      background-size: 150px auto;
      background-repeat: no-repeat;
      text-align: center;
      color: $orange;
      margin-left: auto;
      margin-right: auto;
      font-size: 3.0rem;
      
      display: flex;
      align-items: center;
      margin-bottom: 1rem;
      strong {
        margin-left: auto;
        margin-right: auto;
        font-family: 'Avenir-Black', Avenir, sans-serif;
        display: flex;
        align-items: center;
        span {
          font-size: 0.7em;
        }
      }
      &._80 {
        background-image: url(../images/80percent.svg);
        color: $orange;
      }
      &._75 {
        background-image: url(../images/75percent.svg);
         color: $primary;
      }
      &._71 {
        background-image: url(../images/71percent.svg);
        color: #a4a6a8
      }
    }
  }
  .boxy-box.realself {
    .wrap {
      .message {
        background-color: #fff;
        @media (min-width: 992px) {
          padding: 15px 15px 0;
        }
        .message-inner {
          padding: 8% 15px;
          img {
            width: 90%;
            height: auto;
          }
        }
      }
    }
  }
}

// end .expander-implant-options

/* 
 * 
 */
 
// start .breast-reconstruction

.breast-reconstruction {
  .hero {
    background-image: url(../images/recon-header-mobile.jpg);
    background-position: center top;
    background-repeat: no-repeat;
    background-size: contain;
    height: 125vw;
    @media (min-width: 768px) { 
//       background-image: url(../images/recon_home_hero-1200.jpg);
      background-image: url(../images/recon_home_hero-2500.jpg);
      height: 50vw;
    }
    @media (min-width: 1999px) { 
      background-image: url(../images/recon_home_hero-2500.jpg);
    }

  }
  .intro {
    header {
      width: 100%;
      @media (min-width: 768px) {
        width: 75%
      } 
    }
    p {
      font-size: 1.3rem;
      line-height: 1.7rem;
      @media (min-width: 768px) { 
        font-size: 1.4rem;
        line-height: 1.8rem;
      }
    }
  }
  .guide {
    
    header{
      img {
        max-width: 455px;
      }
    }
    p {
      margin-top: 15px;
      margin-bottom: 15px;
      @media (min-width: 768px) {  
         font-size: 1.5rem;
         line-height: 1.9rem;
      }
      &.implant-bg {
        padding: 15px 0 15px 15px;
        background-image: url(../images/implant-p-bg.jpg);
        background-position: left center;
        background-size: contain;
        background-repeat: no-repeat;
        width: 86%;
        display: inline-block;
        @media (min-width: 768px) { 
          padding: 15px 0 15px 245px;
        }
      }
    }
  }
  .two-step {
    background-color: $tan;
    padding: 15px;
    .inner {
      border: 1px solid #fff;
      padding: 15px ;
      @media (min-width: 768px) { 
        padding: 15px 15%;
      }
      header img {
        max-width: 400px;
      }
    }
    p {
      font-size: 1.3rem;
      line-height: 1.5rem;
      @media (min-width: 768px) {
        font-size: 1.5rem;
        line-height: 1.9rem;
      }
    }
  }
  .steps {
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: center;
    @media (min-width: 768px) {
      font-size: 1.5rem;
    line-height: 1.9rem;
    }
    .step-one {
      .image-h {
        padding-bottom: 42vw;
      }
      @media (min-width: 768px) {
        text-align: left;
        .image-h {
          padding-bottom: 70%;
        }  
      }
    }
    .step-two {
      .image-h {
        padding-bottom: 42vw;
      }
      @media (min-width: 768px) {
        text-align: right;
        .image-h {
          padding-bottom: 70%;
        } 
      }
    }
  }
  .boxy-box.timing {
    .wrap {
      align-items: flex-end;
      .message {
        border: 1px solid $primary;
        .message-inner {
          padding: 15px;
          background-color: $tan;
          border: none;
          margin-top: 10px;
          font-size: 1.0rem;
          line-height: 1.25rem;
          @media (min-width: 768px) { 
            padding: 50px 50px 20px;
            font-size: 1.15rem;
            line-height: 1.25rem;
          }
          header {
            display: flex;
            align-items: center;
            flex-direction: column;
            margin-bottom: 10px;
            font-size: 1.3rem;
            line-height: 1.4rem;
            text-align: left;
            padding: 0;
            @media (min-width: 768px) {
              padding: 0 5%;
            }
            h3 {
              margin: 20px auto;
              font-size: 1.3rem;
              text-align: center;
              @media (min-width: 768px) { 
                font-size: 1.8rem;
              }

            }
            & > span {
              text-indent: -9999px;
              font-size: 0;
              display: flex;
              width: 80%;
              padding-bottom: 6%;
              background-position: center center;
              background-repeat: no-repeat;
              background-size: contain;
            }
          }
          footer {
            margin-top: 20px;
            p {
              font-size: 1.3rem;
              line-height: 1.4rem;             
            }
          }
          h3 {
            font-size: 1.15rem;
            line-height: 1.25rem;
            margin-bottom: 10px;

          }
          ul {
            li {
              margin-bottom: 10px;
            }
          }
          img {
            width: 90%;
            height: auto;
          }
        }
      }
      .model img {
        margin-bottom: 50px;
      }
    }
  }
  .options {
    justify-content: center;
    header img {
      width: 80%;
      max-width: 700px;
      margin-left: auto;
      margin-right: auto;
      display: flex;
    }
    h2{
      font-size: 1.1rem;
      @media (min-width: 768px) { 
        font-size: 2.0rem;
      }
    }
  } 
}

// end .breast-reconstruction

/* 
 * 
 */
 
// start .saftey

.safety {
  .boxy-box {
    .wrap {
      .model {
        order: 2; 
        @media (min-width: 992px) {
          margin-left: calc(-8.33333% + 15px);
        }
      }
      .message {
        order: 1;
        @media (min-width: 992px) {
          margin-left: -30px;
        }   
        .message-inner {
          padding: 15%;
          align-items: center;
          img {
            width: 90%;
            height: auto;
          }
        }
      }
    }
  }
  .patient-safety {
    header img {
      width: 80%;
      max-width: 800px;
    }
    h2 {
      font-size: 1.3rem;
      @media (min-width: 768px) { 
        font-size: 1.8rem;
      }
    }
    .diagram {
      justify-content: center;
      background-image: url(../images/implant-safety-diagram.jpg);
      background-position: center center;
      background-repeat: no-repeat;
      background-size: contain;
    }
    article {
      padding-left: 5%;
      padding-right: 5%;
      h3 {
        color: $orange;
        font-size: 1.6rem;
        margin-bottom: 0;
      }
      .rounded-circle {
        height: 150px;
        width: 150px;
        background-color: $tan;
        text-align: center;
        color: $primary;
        border: 1px solid $tan;
        margin-left: auto;
        margin-right: auto;
        line-height: 1.2rem;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        padding: 11% 8% 8%;
        font-size: 1.2rem;
        font-family: Avenir-Light, Avenir, sans-serif;
        margin-bottom: 1rem;
        strong {
          font-size: 1.7rem;
          margin-bottom: .6rem;
          color: $orange;
        }
        p {
          margin: 0;
        }
      }
      p {
        font-size: 1.0rem;
        line-height: 1.2rem;
      }
    }

  }
  .warranty {
    padding-left: 3%;
    padding-right: 3%;
    margin-top: 50px;
    .h-line img {
      @media (min-width: 768px) {
        max-width: 600px;
        transform: translatex(-8%);
        padding-top: 5%;
      } 
    }
  }
  .platinum20 {
    border: 1px solid $primary;
    padding: 15px;
    .inner {
      background-color: $tan;
      padding: 10px;
      font-size: 1.0rem;
      @media (min-width: 768px) {
        font-size: 1.4rem;
        padding: 30px;
      }
      ul {
        margin-bottom: 30px;
        margin-top: 30px;
        li {
          font-size: 1.0rem;
          border: none;
          padding: 0 0 0.5rem; 
          background: transparent;
          @media (min-width: 768px) { 
            font-size: 1.2rem;
          }
          span {
            color: $orange;
            width: 4.5rem;
            line-height: 2.0rem;
            display: inline-block;
            font-family: 'Avenir-Heavy', Avenir, sans-serif;
            font-size: 1.0rem;
            @media (min-width: 768px) {
              float: left;
              font-size: 1.3rem;
              width: 5.5rem;
            }
          }
        }
      }
    }
  }  
}

// end .saftey

/* 
 * 
 */
 
// start .recon-before-after-gallery

.recon-before-after-gallery {
  .boxy-box {
      .wrap {
        .model {
          order: 2; 
          @media (min-width: 992px) {
            margin-left: calc(-8.33333% + 15px);
          }
        }
        .message {
          order: 1;
          @media (min-width: 992px) {
            margin-left: -30px;
          }   
          .message-inner {
            padding: 17% 30px;
/*
            align-items: center;
            img {
              width: 90%;
              height: auto;
            }
*/
          }
        }
      }
    }
  .projection {
    border: 1px solid $orange;
    padding: 0 25px 0;
    margin-top: 70px;
    header {
      img {
        margin: -53px auto 30px;
        height: 100px;
        width: auto;
        display: block;
        background-color: #fff;
      }
      h3 {
        font-size: 1.4rem;
      }
    } 
    img {
      width: 100%;
      height: auto;
    }
    article {
      padding: 0;
    }
  }
  footer p {
    font-size: 0.95rem;
  }
}

// end .saftey

/* 
 * 
 */
 
// start .recon-before-after-gallery

.preparing-for-surgery {
  .boxy-box {
    .wrap {
      .model {

      }
      .message {  
        .message-inner {
          padding: 20% 15px;
          align-items: center;
          img {
            width: 90%;
            height: auto;
          }
        }
      }
    }
  }
  .get-started {
    font-size: 1.5rem;
    line-height: 1.9rem;
    font-family: 'Avenir-Light', Avenir, sans-serif;
    header img {
      transform: translateX(-9%);
    }
  }
  .questions {
    border: 1px solid #000;
    padding: 15px;
    background-color: #fff;
    .accordion {
      padding: 15px;
      background-color: $tan;
      .card {
        background-color: transparent;
        border: 1px solid #fff !important;
        margin-bottom: 15px;
        border-bottom: 1px;
        .card-header {
          background-color: transparent;
          padding: 0;
          border: none;
          button {
	          display: flex;
            &:not(.collapsed) {
              background-color: #fff;
            }
	          &:hover,
	          &:focus {
	            text-decoration: none;
	          }
	          &:hover,
	          &:focus {
	            text-decoration: none;
	          }
            font-size: 1.2rem;
            font-family: 'Avenir-Light', Avenir, sans-serif;
            padding: 15px;
            width: 100%;
            text-align: left;
            @media (min-width: 768px) {
              font-size: 1.8rem;
            }
            &:before {
				content: '\02212\000A';
				display: block;
				color: $orange;
			}
          }
        }
        .card-body {
          background-color: #fff;
        }
      }
    }
  } 
}
.about {
  .hero {
    background-image: url(../images/about-hero.jpg);
    background-position: center center;
    background-repeat: no-repeat;
    background-size: contain;
    height: 49vw;
    padding-top: 6vw;
    h1 {
      background-position: center top;
      width: 100%;
      height: 19vw;
    }
  }
  .brands {
    font-size: 0.8rem;
    text-align: center;
    h2 {
      height: 3rem;
    }
    img {
      margin-bottom: 15px;
    }
  }
  .manufacture {
    h2 {
      height: 7rem;
    }
  }
}