@font-face {
  font-family: 'Avenir-Light';
       src: url('../fonts/Avenir-Light.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Avenir-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Avenir-Book';
       src: url('../fonts/Avenir-Book.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Avenir-Book.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Avenir-Heavy';
       src: url('../fonts/Avenir-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Avenir-Heavy.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Avenir-Medium';
       src: url('../fonts/Avenir-Medium.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Avenir-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Avenir-Black';
       src: url('../fonts/Avenir-Black.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Avenir-Black.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
// font-family: 'Playfair Display', serif;

body {
  font-family: 'Avenir-Book', Avenir, sans-serif;
  transition: opacity ease 0.5s;
  opacity: 1;
  color: $primary;
  &.loading {
    opacity: 0; 
//    transition: opacity ease 5.5s;
  }
  a {
    transition: all ease 0.5s;
  }
  .q {
    font-family: 'Playfair Display', serif;
  }
  strong {
    font-family: Avenir-Heavy, Avenir, sans-serif;
  }
  sup {
    font-size: 0.5em;
  }
}
$height1: 41vw;
.boxy-box {
    max-width: 1650px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 60px;
  .wrap {
      @media (min-width: 992px) { 
//         height: $height1;
        display: flex;
        align-items: center;
      }
    .model {
      img {
        width: 100%;
        height: auto;
      }
      @media (min-width: 992px) { 
//         height: $height1;
      }
    }
    .message {
      @media (min-width: 992px) {
        margin-left: calc(-8.33333% + 15px);
        padding: 15px;
      }
      .message-inner {
        border: 1px solid $primary;
        padding: 15px;
        height: 100%;
        @media (min-width: 992px) {
//           border-right: none;
        }
      }
    }
  }
}

.h2-wrap {
  background-color: $tan;
  padding: 5px;
  margin-top: 30px;
  margin-bottom: 30px;
  display: inline-block;
  h2 {
    border: 1px solid #fff;
    padding: 5px 100px;
    margin: 0;
    font-size: 1.6rem;
    font-family: 'Avenir-Light', Avenir, sans-serif;
  }
}