@font-face {
  font-family: 'Avenir-Light';
       src: url('../fonts/Avenir-Light.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Avenir-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Avenir-Book';
       src: url('../fonts/Avenir-Book.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Avenir-Book.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Avenir-Heavy';
       src: url('../fonts/Avenir-Heavy.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Avenir-Heavy.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Avenir-Medium';
       src: url('../fonts/Avenir-Medium.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Avenir-Medium.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Avenir-Black';
       src: url('../fonts/Avenir-Black.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Avenir-Black.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
// font-family: 'Playfair Display', serif;

body {
  font-family: 'Avenir-Book', Avenir, sans-serif;
  transition: opacity ease-in 0.5s;
  opacity: 1;
  color: $primary;
  &.loading {
    opacity: 0; 
  }
  a {
    transition: all ease 0.2s;
  }
  .q {
    font-family: 'Playfair Display', serif;
  }
  strong {
    font-family: Avenir-Heavy, Avenir, sans-serif;
  }
}