@font-face {
  font-family: 'Avenir-Light';
       src: url('../fonts/Avenir-Light.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Avenir-Light.ttf')  format('truetype'); /* Safari, Android, iOS */
}
@font-face {
  font-family: 'Avenir-Book';
       src: url('../fonts/Avenir-Book.woff') format('woff'), /* Pretty Modern Browsers */
            url('../fonts/Avenir-Book.ttf')  format('truetype'); /* Safari, Android, iOS */
}

body {
  font-family: 'Avenir-Book', Avenir, sans-serif;
}