/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #535659
);
$primary: #535659;
$tan: #eae4de;
$orange: #ff8300;

$line-height-base: 1.2;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$navbar-nav-link-padding-x: 0.75rem;
$navbar-nav-link-padding-x: 0.75rem;