/** Import Bootstrap functions */
@import "~bootstrap/scss/functions";

$theme-colors: (
  primary: #54575a
);
// $primary: #535659;
$primary: #54575a;
$tan: #eae4de;
$orange: #ff8300;
$teal: #192e3c;
$line-height-base: 1.2;

$modal-backdrop-opacity: 0.7;

/** Bootstrap navbar fix (https://git.io/fADqW) */
$navbar-dark-toggler-icon-bg: none;
$navbar-light-toggler-icon-bg: none;

$navbar-nav-link-padding-x: 0.75rem;
$navbar-nav-link-padding-x: 0.75rem;